@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Raleway:900');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5C8033;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Amatic SC', cursive;

  font-size: medium;
}

main {
  display: relative;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 50%;
  min-height: 9em;
  box-shadow:  10px 10px 14px rgba(0, 0, 0, 0.75);

}

p {
  text-align: center;
  font-size: 159%;
}

main > p {
  margin-top: 11%;
  margin-right: 5%;
  margin-left: 5%;
}

button {
  width: 25%;
  min-height: 3em;
  border: thin solid black;
  border-radius: 3px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 103%;
  cursor: pointer;
  transition-duration: 0.4s;
}

#newquote {
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 2%;
  background-color: #96151D;
}

button:hover {
  opacity: .59;
}

#tweet {
  float: right;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 1%;
  background-color: #003C69;
}

footer {
  margin-top: 1%;
  color: #F9E3BC;
}

a {
  color: #F9E3BC;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:focus {
  color: #96151D;
}

a:active {
  color: #003C69;
}
